# runthings-wp-build:release v1.0.0
# If customized, add -custom to version (e.g., v1.0.0-custom) to prevent overwrites
name: Release (GitHub)

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: runthings-dev/.github/.github/workflows/plugin-release.yml@v1